# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [23]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [24]:
# Create a connection to the database
engine = create_engine("postgresql://postgres:Genesis1@localhost:5432/fraud_detection")

In [25]:
# SQL query to fetch data from "fraud_detection" database
sql_query = """
    SELECT t.date,ch.id as cardholder_id,ch.name,cc.card,t.id as trans_id,t.amount
    FROM card_holder ch
    JOIN credit_card cc ON ch.id = cc.cardholder_id
    JOIN transaction t ON cc.card = t.card
	GROUP BY ch.id,ch.name,cc.card,t.amount,t.date,t.id 
	ORDER BY ch.id,ch.name,cc.card,t.amount,t.date,t.id
"""

In [26]:
# Fetch data from the database into a pandas DataFrame
fraud_detection_df = pd.read_sql_query(sql_query, engine)
fraud_detection_df

,date,cardholder_id,name,card,trans_id,amount
0,2018-07-17 16:30:39,1,Robert Johnson,3517111172421930,824,0.69
1,2018-03-10 23:00:35,1,Robert Johnson,3517111172421930,575,0.76
2,2018-08-21 16:23:34,1,Robert Johnson,3517111172421930,163,1.10
3,2018-03-30 17:36:58,1,Robert Johnson,3517111172421930,2220,1.26
4,2018-06-22 11:53:25,1,Robert Johnson,3517111172421930,2283,1.29
...,...,...,...,...,...,...
3495,2018-12-18 13:33:37,25,Nancy Contreras,4319653513507,1863,1074.00
3496,2018-06-04 03:46:15,25,Nancy Contreras,4319653513507,1790,1162.00
3497,2018-01-30 18:31:00,25,Nancy Contreras,4319653513507,1415,1177.00
3498,2018-03-06 07:18:09,25,Nancy Contreras,4319653513507,2840,1334.00
3499,2018-06-22 06:16:50,25,Nancy Contreras,4319653513507,2582,1813.00

In [27]:
# Write function that locates outliers using standard deviation

def find_outliers_std(data, column_name, threshold=3):
    column_data = data[column_name]
    mean_value = column_data.mean()
    std_dev = column_data.std()
    outliers = (column_data - mean_value).abs() > threshold * std_dev
    return outliers

# Assuming 'amount' is the column name containing the transaction amounts
outliers = find_outliers_std(fraud_detection_df, 'amount')

# Print out the outliers
print("Outliers in 'amount' column:")
print(fraud_detection_df[outliers])

Outliers in 'amount' column:
                    date  cardholder_id             name                 card  \
124  2018-09-06 08:28:55              1   Robert Johnson  4761049645711555811
125  2018-12-30 23:23:09              1   Robert Johnson  4761049645711555811
126  2018-09-06 21:55:02              1   Robert Johnson  4761049645711555811
127  2018-09-26 08:48:40              1   Robert Johnson  4761049645711555811
128  2018-07-31 05:15:17              1   Robert Johnson  4761049645711555811
...                  ...            ...              ...                  ...
3495 2018-12-18 13:33:37             25  Nancy Contreras        4319653513507
3496 2018-06-04 03:46:15             25  Nancy Contreras        4319653513507
3497 2018-01-30 18:31:00             25  Nancy Contreras        4319653513507
3498 2018-03-06 07:18:09             25  Nancy Contreras        4319653513507
3499 2018-06-22 06:16:50             25  Nancy Contreras        4319653513507

      trans_id  amount
124       1368  1017.0
125       1293  1033.0
126       1536  1056.0
127        968  1060.0
128       2752  1302.0
...        ...     ...
3495      1863  1074.0
3496      1790  1162.0
3497      1415  1177.0
3498      2840  1334.0
3499      2582  1813.0

[77 rows x 6 columns]

In [35]:
# Find anomalous transactions for 3 random card holders specified card holders using Standard Deviation

def find_anomalous_transactions_std(data, column_name, threshold=3, cardholder_ids=None):
    if cardholder_ids is None:
        cardholder_ids = random.sample(list(set(data['cardholder_id'])), 3)
        
    for cardholder_id in cardholder_ids:
        transactions = data[data['cardholder_id'] == cardholder_id]  # Filter transactions for the current cardholder
        outliers = find_outliers_std(transactions, column_name, threshold)
        print(f"Card Holder ID {cardholder_id} - Anomalous Transactions (Standard Deviation):")
        print(outliers.index.tolist())  # Print the indices of anomalous transactions
        print("\n")

# Using 'amount' as the column name containing the transaction amounts
# Using 'fraud_detection_df' as the DataFrame containing the transaction data

find_anomalous_transactions_std(fraud_detection_df, 'amount')

Card Holder ID 4 - Anomalous Transactions (Standard Deviation):
[290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437]


Card Holder ID 13 - Anomalous Transactions (Standard Deviation):
[1658, 1659, 1660, 1661, 1662, 1663, 1664, 1665, 1666, 1667, 1668, 1669, 1670, 1671, 1672, 1673, 1674, 1675, 1676, 1677, 1678, 1679, 1680, 1681, 1682, 1683, 1684, 1685, 1686, 1687, 1688, 1689, 1690, 1691, 1692, 1693, 1694, 1695, 1696, 1697, 1698, 1699, 1700, 1701, 1702, 1703, 1704, 1705, 1706, 1707, 1708, 1709, 1710, 1711, 1712, 1713, 1714, 1715, 1716, 1717, 1718, 1719, 1720, 1721, 1722, 1723, 1724, 1725, 1726, 1727, 1728, 1729, 1730, 1731, 1732, 1733, 1734, 1735, 1736, 1737, 1738, 1739, 1740, 1741, 1742, 1743, 1744, 1745, 1746, 1747, 1748, 1749, 1750, 1751, 1752, 1753, 1754, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763, 1764, 1765, 1766, 1767, 1768, 1769, 1770, 1771, 1772, 1773, 1774, 1775, 1776, 1777, 1778, 1779, 1780, 1781, 1782, 1783, 1784, 1785, 1786, 1787, 1788, 1789, 1790, 1791, 1792, 1793, 1794, 1795, 1796, 1797, 1798, 1799, 1800, 1801, 1802, 1803, 1804, 1805, 1806, 1807, 1808, 1809, 1810, 1811, 1812, 1813, 1814, 1815, 1816, 1817, 1818, 1819, 1820, 1821, 1822, 1823, 1824, 1825, 1826, 1827, 1828, 1829, 1830, 1831, 1832, 1833, 1834, 1835, 1836, 1837, 1838, 1839, 1840, 1841, 1842, 1843, 1844, 1845, 1846, 1847, 1848, 1849, 1850, 1851, 1852, 1853, 1854, 1855, 1856, 1857, 1858, 1859, 1860, 1861, 1862, 1863]


Card Holder ID 18 - Anomalous Transactions (Standard Deviation):
[2349, 2350, 2351, 2352, 2353, 2354, 2355, 2356, 2357, 2358, 2359, 2360, 2361, 2362, 2363, 2364, 2365, 2366, 2367, 2368, 2369, 2370, 2371, 2372, 2373, 2374, 2375, 2376, 2377, 2378, 2379, 2380, 2381, 2382, 2383, 2384, 2385, 2386, 2387, 2388, 2389, 2390, 2391, 2392, 2393, 2394, 2395, 2396, 2397, 2398, 2399, 2400, 2401, 2402, 2403, 2404, 2405, 2406, 2407, 2408, 2409, 2410, 2411, 2412, 2413, 2414, 2415, 2416, 2417, 2418, 2419, 2420, 2421, 2422, 2423, 2424, 2425, 2426, 2427, 2428, 2429, 2430, 2431, 2432, 2433, 2434, 2435, 2436, 2437, 2438, 2439, 2440, 2441, 2442, 2443, 2444, 2445, 2446, 2447, 2448, 2449, 2450, 2451, 2452, 2453, 2454, 2455, 2456, 2457, 2458, 2459, 2460, 2461, 2462, 2463, 2464, 2465, 2466, 2467, 2468, 2469, 2470, 2471, 2472, 2473, 2474, 2475, 2476, 2477, 2478, 2479, 2480, 2481]

## Identifying Outliers Using Interquartile Range

In [38]:
# Write a function that locates outliers using interquartile range
def find_outliers_iqr(data, column_name):
    Q1 = data[column_name].quantile(0.25)
    Q3 = data[column_name].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = (data[column_name] < lower_bound) | (data[column_name] > upper_bound)
    return data[outliers]

# Using 'amount' is the column name containing the transaction amounts
outliers = find_outliers_std(fraud_detection_df, 'amount')

# Print out the outliers
print("Outliers in 'amount' column:")
print(fraud_detection_df[outliers])

Outliers in 'amount' column:
                    date  cardholder_id             name                 card  \
124  2018-09-06 08:28:55              1   Robert Johnson  4761049645711555811
125  2018-12-30 23:23:09              1   Robert Johnson  4761049645711555811
126  2018-09-06 21:55:02              1   Robert Johnson  4761049645711555811
127  2018-09-26 08:48:40              1   Robert Johnson  4761049645711555811
128  2018-07-31 05:15:17              1   Robert Johnson  4761049645711555811
...                  ...            ...              ...                  ...
3495 2018-12-18 13:33:37             25  Nancy Contreras        4319653513507
3496 2018-06-04 03:46:15             25  Nancy Contreras        4319653513507
3497 2018-01-30 18:31:00             25  Nancy Contreras        4319653513507
3498 2018-03-06 07:18:09             25  Nancy Contreras        4319653513507
3499 2018-06-22 06:16:50             25  Nancy Contreras        4319653513507

      trans_id  amount
124       1368  1017.0
125       1293  1033.0
126       1536  1056.0
127        968  1060.0
128       2752  1302.0
...        ...     ...
3495      1863  1074.0
3496      1790  1162.0
3497      1415  1177.0
3498      2840  1334.0
3499      2582  1813.0

[77 rows x 6 columns]

In [36]:
# Find anomalous transactions for 3 random card holders specified card holders using Standard Deviation

def find_anomalous_transactions_iqr(data, column_name, cardholder_ids=None):
    if cardholder_ids is None:
        cardholder_ids = random.sample(list(set(data['cardholder_id'])), 3)
        
    for cardholder_id in cardholder_ids:
        transactions = data[data['cardholder_id'] == cardholder_id]  # Filter transactions for the current cardholder
        outliers = find_outliers_iqr(transactions, column_name)
        print(f"Card Holder ID {cardholder_id} - Anomalous Transactions (Interquartile Range):")
        print(outliers.index.tolist())  # Print the indices of anomalous transactions
        print("\n")

# Using 'amount' as the column name containing the transaction amounts
# Using 'fraud_detection_df' as the DataFrame containing the transaction data

find_anomalous_transactions_std(fraud_detection_df, 'amount')

Card Holder ID 11 - Anomalous Transactions (Standard Deviation):
[1241, 1242, 1243, 1244, 1245, 1246, 1247, 1248, 1249, 1250, 1251, 1252, 1253, 1254, 1255, 1256, 1257, 1258, 1259, 1260, 1261, 1262, 1263, 1264, 1265, 1266, 1267, 1268, 1269, 1270, 1271, 1272, 1273, 1274, 1275, 1276, 1277, 1278, 1279, 1280, 1281, 1282, 1283, 1284, 1285, 1286, 1287, 1288, 1289, 1290, 1291, 1292, 1293, 1294, 1295, 1296, 1297, 1298, 1299, 1300, 1301, 1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309, 1310, 1311, 1312, 1313, 1314, 1315, 1316, 1317, 1318, 1319, 1320, 1321, 1322, 1323, 1324, 1325, 1326, 1327, 1328, 1329, 1330, 1331, 1332, 1333, 1334, 1335, 1336, 1337, 1338, 1339, 1340, 1341, 1342, 1343, 1344, 1345, 1346, 1347, 1348, 1349, 1350, 1351, 1352, 1353, 1354, 1355, 1356, 1357, 1358, 1359, 1360, 1361, 1362, 1363, 1364, 1365, 1366, 1367, 1368, 1369, 1370, 1371, 1372, 1373, 1374, 1375, 1376, 1377, 1378, 1379, 1380, 1381, 1382, 1383, 1384, 1385, 1386, 1387, 1388, 1389, 1390, 1391, 1392, 1393, 1394, 1395, 1396, 1397, 1398, 1399, 1400, 1401, 1402, 1403, 1404, 1405, 1406, 1407, 1408, 1409, 1410, 1411, 1412, 1413, 1414, 1415, 1416, 1417, 1418, 1419, 1420, 1421, 1422, 1423, 1424, 1425, 1426, 1427, 1428, 1429, 1430, 1431, 1432, 1433, 1434, 1435, 1436, 1437, 1438, 1439, 1440, 1441, 1442, 1443, 1444]


Card Holder ID 10 - Anomalous Transactions (Standard Deviation):
[1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079, 1080, 1081, 1082, 1083, 1084, 1085, 1086, 1087, 1088, 1089, 1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097, 1098, 1099, 1100, 1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109, 1110, 1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131, 1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152, 1153, 1154, 1155, 1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163, 1164, 1165, 1166, 1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174, 1175, 1176, 1177, 1178, 1179, 1180, 1181, 1182, 1183, 1184, 1185, 1186, 1187, 1188, 1189, 1190, 1191, 1192, 1193, 1194, 1195, 1196, 1197, 1198, 1199, 1200, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210, 1211, 1212, 1213, 1214, 1215, 1216, 1217, 1218, 1219, 1220, 1221, 1222, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1230, 1231, 1232, 1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240]


Card Holder ID 22 - Anomalous Transactions (Standard Deviation):
[2964, 2965, 2966, 2967, 2968, 2969, 2970, 2971, 2972, 2973, 2974, 2975, 2976, 2977, 2978, 2979, 2980, 2981, 2982, 2983, 2984, 2985, 2986, 2987, 2988, 2989, 2990, 2991, 2992, 2993, 2994, 2995, 2996, 2997, 2998, 2999, 3000, 3001, 3002, 3003, 3004, 3005, 3006, 3007, 3008, 3009, 3010, 3011, 3012, 3013, 3014, 3015, 3016, 3017, 3018, 3019, 3020, 3021, 3022, 3023, 3024, 3025, 3026, 3027, 3028, 3029, 3030]